<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODEL SELECTOR!!</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <a href="/abalone/0">
                <button class="image-button">
                    <img src="/static/rawimage.jpg" alt="Abalone Image">
                    <span>Abalone</span>
                </button>
            </a>
        </div>
    </div>
</body>
</html>

